$theme-color:#3bafbd;
$hover-color:#017989;
$shaded-color:#646464;
$magenta: #ea1a70;
$dark-blue: #064497;
$orange: #f08100;
$black: #000;
$white: #fff;
$darkwhite: #f6f6f6;
$pink: #fa005e;
$pink2: #e11c38;
$pink3: #fb025d;
$gray: #9d9d9d;
$gray2: #d8d8d8;
$gray3: #c8c8c8;
$footerBg: #3a3a3a;
$gray4: #e1e1e1;
$blue: #10498f;
$lightgray: #ccc;
$darkgray: #333;
$black2: #222;
$note: #aaa;


//fonts
$font-reg:"ts-reg",sans-serif;
$font-md:"ts-medium",sans-serif;
$font-bold:"ts-bold",sans-serif;
$quinzey-bold:"quinzey-bold",sans-serif;